.workouts {
    /* border: solid 1px red; */
    margin: 40px;
    padding:30px;
    border-radius: 10px; 
    margin-top: 200px; 
    margin-bottom: 200px;
    /* background-color: yellow; */
    min-height: 100vh;
    box-shadow: 0 0 40px yellow;

    h1{
        padding: 20px;
        font-size: 100px;
        margin-bottom: 40px;
        text-decoration: underline;
        text-align: center;
        color: black;
        background-color: yellow;
    }
}

.rightC{
    height: calc(100%-(100px+100px));
}


.aboutImg{
    padding: 50px 0px;
    height: calc(100%-(100px+100px));

}
.about {
    /* border: solid 1px red; */
    margin: 40px;
    padding:10px;
    border-radius: 10px;
    box-shadow: 0 0 30px yellow;
    /* display: flex; */

    .aboutInside{
        display: flex;

        /* .aboutP{
            padding-left: 2px;
        } */
    }
    h1{
        padding: 20px;
        font-size: 100px;
        margin-bottom: 40px;
        text-decoration: underline;
        text-align: center;
        color: black;
        background-color: yellow;
        border-radius: 20px;
    }

    p {
        font-size: 30px;
        overflow: auto;
        padding: 10px;
        line-height: 90px;
        /* background-color: aqua; */
        /* background-color: yellow; */
        background-color: chartreuse;
        margin-right: 5px;
        border-radius: 5px;
        margin-bottom: 50px;
        padding: 50px;
        color: black;
        /* height: calc(100%-(100px+100px)); */
    }
    img{
        border-radius: 500px;
        /* width: 100%;
        height:100%; */
        
    }
    img:hover{
        scale: 1.5;
        transition: 0.5s; 
    }
}
.blog{
    /* border: solid 1px black; */
    margin: 40px;
    padding:30px;
    border-radius: 10px;
    margin-bottom: 300px;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.39);
    box-shadow: 0 0 30px black;
    /* background-color: rgb(199, 110, 110); */

    h1{
        font-size: 50px;
        text-align: center;
        padding: 20px;
        text-decoration: underline;
        /* background-color: yellow; */
        background-color: chartreuse;
        margin: 30px;
        padding: 20px;
        border-radius: 10px;
    }
    h1:hover{
        color: chartreuse;
        scale: 1.1;
        transition: 0.5s;
        background-color: chocolate;
    }
    p{
        font-size: 25px;
        line-height: 80px;
        color: purple;
        border-radius: 10px;
        /* background-color: yellow; */
        background-color: chartreuse;
        margin: 30px;
        padding: 20px;
        text-align: center;

        i{
            padding: 10px;
            background-color: white;
            border-radius: 10px;
        }
        strong{
            padding: 10px;
            background-color: white;
            border-radius: 10px;
        }
    
    }
}
.container {
    display: flex;
    height: 400px;
    margin-bottom: 200px;
    background-color: crimson;
    /* margin-left: 20px;
    margin-right: 20px;
    padding-top: 40px;
    padding-bottom: 80px;
    border-radius: 10px; */

    .leftContainer{
        border: solid 0.5px black;
        width: 45%;
        height: 100%;
        margin-left: auto;
        margin-right: 10px;
        overflow: auto;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.54);
        h1{
            text-align: center;
            text-decoration: underline;
            font-family: 'Times New Roman', Times, serif;
            color: black;
            padding: 20px;
        }

        .aboutText {
            font-size: 25px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 10px;
            font-style: italic;
            background-color: cadetblue;
            align-items: center;
        }
    }

    .leftContainer:hover{
        border:solid 2px red;
        transition: linear 0.5s;
        scale: 1.1;
        /* width: 46%;
        height: 102%; */

        /* h1{
            text-decoration: overline;
            font-size: 35px;
            border: solid 1px red;
            background-color: black;
            color: white;
        } */
    }

    .leftContainer:nth-child(odd){
        /* background-color: rgb(206, 91, 91); */
        background-color: yellow;
    }

    .rightContainer{
        border: solid 1px black;
        width: 45%;
        height: 120%;
        margin-right: auto;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 0 30px black;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .rightContainer:hover{
        scale: 1.1;
        transition: 0.4s;
        box-shadow: 0 0 50px black;
        /* img{
            transition: ease-in-out 0.7s;
            width: 110%;
            height: 110%;
        } */
    }
}

@media (max-width:500px){

    *{
        color: black;
        /* font-size: 15px; */
    }
    .leftContainer{
        h1{
            font-size: 20px;
        }
        

        .aboutText{
            font-size: 15px;
        }
    }
    .about {
        /* border: solid 1px red; */
        margin: 40px;
        padding:10px;
        border-radius: 10px;
        /* display: flex; */
    
        .aboutInside{
            display: flex;
        }
        h1{
            padding: 20px;
            font-size: 30px;
            text-decoration: underline;
            text-align: center;
        }
    
        p {
            font-size: 30px;
            overflow: auto;
        }
        img{
            border-radius: 20px;
            width: 170px;
            height:400px;
            overflow: auto;
        }
    }
    .workouts {
        border: solid 1px red;
        margin: 40px;
        padding:30px;
        border-radius: 10px;  
    
        h1{
            padding: 20px;
            font-size: 30px;
            margin-bottom: 40px;
            text-decoration: underline;
            text-align: center;
        }
    }
    
}