footer {
    border: solid 2px red;
    margin: 40px;
    /* border-radius: 5px; */
    height: 300px;
    h1{
        font-size: 100px;
        padding: 10px;
        font-weight: normal;
        text-align: center;
    }
}

